{% extends 'base.html' %}
{% block content %}
<div class="app">
<img src="https://rolzog-public-static-{{ env }}.s3.amazonaws.com/logo.png" alt="logo" class="logo" width="172">
<img src="https://rolzog-public-static-{{ env }}.s3.amazonaws.com/oops.png" alt="register" width="344" height="191" class="register-icon">
<div class="register-your-laptop">Something went wrong! Please contact
<a href="mailto:mdm-support@thoughtworks.com" target="_top">MDM support</a>
</div>
</div>

{{ details }}

{% endblock %}
