<base href="https://rolzog-public-static-dev.s3.amazonaws.com/" />

<div class="app">
  <img src="logo.png" alt="logo" class="logo" width="172">
  <img src="register.png" alt="register" width="344" height="191" class="register-icon">
  <div class="register-your-laptop">REGISTER YOUR LAPTOP</div>
  <p class="description">
		Registering will assign your device to you in our asset management system (ServiceNow) and enable FileVault encryption on your device.
	</p>
  <p class="sub-para">
    <img src="Attention.png" alt="" width="24" height="24">
    This is an essential step. Please do not close this window.
  </p>

  <button type="button" class="btn">Register</button>

</div>
